<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">


<form [formGroup]="form" (ngSubmit)="add_task()">

  <label for="title">Title:</label>
  <input type="text" id="title" formControlName="title" required>

  <label for="description">Description:</label>
  <textarea id="description" formControlName="description" required></textarea> 


  <!--Removed Code-->
  <!--<label for="date">Date:</label>
  <input type="date" id="date" formControlName="date" required>-->
  <ion-item>
    <label>Date:</label>
    <ion-datetime formControlName="date" display-format="DD MMM YYYY" required></ion-datetime>
  </ion-item>

  <label for="time">Time:</label>
  <input type="time" id="time" formControlName="time" required>

  <label for="priority_level">Priority Level:</label>
  <select id="priority_level" formControlName="priority_level" required>
    <option value="low">Low</option>
    <option value="medium">Medium</option>
    <option value="high">High</option>
  </select>

  <label for="category">Category:</label>
  <input type="text" id="category" formControlName="category" required>

  <label for="progress_level">Progress Level:</label>
  <select id="progress_level" formControlName="progress_level" required>
    <option value="not started">Not Started</option>
    <option value="in progress">In Progress</option>
    <option value="complete">Complete</option>
  </select>

  <br><br>
  <button type="submit" class="btn btn-primary">Add Task</button>
</form>
